* {
  box-sizing: border-box;
  font-family: "Tilt Neon", cursive;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
}

.pads {
  padding: 25px 16px;
}

.top-header {
  text-align: center;
  background-color: darkorange;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

main > * {
  margin-top: 80px;
}

a {
  color: rgb(40, 21, 184);
}

a:hover {
  background-color: cyan;
}

a:active {
  background-color: darkgreen;
}

article + article {
  border-top: 5px solid cadetblue;
  padding-top: 55px;
}

.first-h3 {
  padding-top: 15px;
}

*::selection {
  color: rgb(56, 22, 88);
  background-color: darkred;
}

.first-paragraph::after {
  content: "🚀";
}
