* {
  box-sizing: border-box;
}

html {
  font-family: "Tilt Neon", cursive;
}

body {
  margin: 0;
}

*::selection {
  color: rgb(56, 22, 88);
  background-color: darkred;
}

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
}

.top-header {
  padding: 25px 16px;
  text-align: center;
  background-color: rgb(66, 230, 99);
}

main {
  padding: 25px 16px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}

a {
  color: rgb(40, 21, 184);
}

a:hover {
  background-color: rgb(255, 0, 162);
}

a:active {
  background-color: rgb(246, 246, 8);
}

article + article {
  border-top: 5px solid cadetblue;
  padding-top: 55px;
}

.first-h3 {
  padding-top: 15px;
}

.first-paragraph::after {
  content: "🚀";
  font-size: 35px;
}
